<div style="text-align: center;">
  <h2>I Am Product !!</h2>
</div>

<div class="form-container">
  <form #form="ngForm" [formGroup]="myFormGroup" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
      <label for="name"> Name </label>
      <input type="text" class="form-control" formControlName="name" />

      <div *ngIf="form.submitted && f.name.errors && f.name.errors.required">
        <p class="text-danger">Required!!</p>
      </div>
    </div>
    <div class="form-group">
      <label for="name"> Description </label>
      <input type="text" class="form-control" formControlName="description" />
    </div>
    <div class="form-group">
      <label for="name"> Email </label>
      <input type="email" class="form-control" formControlName="email" />
      <div
        *ngIf="
          form.submitted &&
          myFormGroup.controls['email'].errors &&
          myFormGroup.controls['email'].errors.email
        "
      >
        <p class="text-danger">Email patter invalid!!</p>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success m-2">Submit</button>
      <button type="button" class="btn btn-danger m-2">Reset</button>
    </div>
  </form>
</div>
